:root{
    --color1:#0b0633;
    --color2: #e3f6f5;
    --color3:  #ff4949;
    --color4:#ffffff;
    --color5:black;
    --color6: white;
    --color7: #A72AAB;
}

body{
    background-color:var(--color4);
    width:95vw;
    padding:0;
}

.nav_container{
    background-color:var(--color1);
    color:var(--color5);
    display: grid;
    width:96vw;
    height:70px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin:0;
}


.navbar li{
    list-style: none;
}


.navbar a{
    text-decoration:none;
    color:var(--color6);
    font-size:large;
}

.navbar a:hover{
    color:var(--color3)
}

.li1{
    grid-column:1/2;
    grid-row: 2/3;
    justify-self: center;
    font-family: monospace;
}

.li2{
    grid-column:2/3;
    grid-row: 2/3;
    justify-self: center;
    font-family: monospace;
}

.li3{
    grid-column:3/4;
    grid-row: 2/3;
    justify-self: center;
    font-family: monospace;
}

.li4{
    grid-column:4/5;
    grid-row: 2/3;
    justify-self: center;
    font-family: monospace;
}

.li5{
    grid-column:5/6;
    grid-row: 2/3;
    justify-self: center;
    font-family: monospace;
}

.li6{
    grid-column:6/7;
    grid-row: 2/3;
    justify-self: center;
    font-family: monospace;
}


.contenido{
    margin-top:50px;
    font-family:'Courier New', Courier, monospace;
    margin-left:20%;
}
.divisor{
    height:20px;
}

.titulo{
    margin-left:225px;
}

.imagen_gasto_ingreso{
    margin-left:265px;
    width:70px;
    height:70px;

}

.subtitulo{
    margin-left:215px;
    color:var(--color1)
}

td{
    width:200px;
    height:30px;
    border-color: var(--color1);
    border-radius: 10px;
    border-style: solid;
}

table{
    font-size: large;
}

.titulos_campos{
    color:var(--color2);
    background-color: var(--color1);
}

.crear{
    grid-column:7/8;
    grid-row: 2/3;
    font-family:monospace;
    font-size:x-small;
}


.elemento_lista_container{
    padding-left:120px;
    list-style: none;
    width:250px;
    height:20px;
    margin:2px;
}

.elemento_lista_container a{
    text-decoration:none;
    font-size: 18px;
    font-weight: bold;
}

.elemento_lista_container a:hover{
    color:var(--color3);
}

#contenedor_ahorros{
    width:500px;
    height:100vh;
    border-color:var(--color1);
    border-style:solid;
    border-radius:50px;
    border-width: 5px;
}

#titulo_billeteras{
    padding-left:100px;
}

#nombre_billetera{
    padding-left:30px;
}

p{
    font-size: large;
    font-weight: 800;
}

label{
    font-size: large;
    font-weight: 800;
}

button{
    color:var(--color2);
    background-color:var(--color1);
    border-style:solid;
    border-width: 1px;
    border-color:var(--color1);
    height: 40px;
    width: 70px;
    border-radius:10px;
}

button:hover{
    color:var(--color1);
    background-color:var(--color4);
}

input{
    width:200px;
    height:28px;
    border-radius:100px;
    border-style: solid;
    border-color:var(--color1);
}

.input1{
    grid-column: 2/3;
    grid-row:2/3;
}

.input2{
    grid-column: 2/3;
    grid-row:4/5;
}

.input3{
    grid-column: 2/3;
    grid-row:6/7;
}

.input4{
    grid-column: 2/3;
    grid-row:8/9;
}

#link_ingresos{
    display:inline-flex;
    justify-content: center;
    width:90px;
    height:30px;
    border-color:var(--color1);
    border-radius:5px;
    border-style: solid;
    text-decoration: none;
    color:var(--color1);
    background-color: var(--color1);
    font-size: large;
    color:var(--color4);
}

#link_gastos{
    display:inline-flex;
    justify-content:center;
    margin-left: 50px;
    width:90px;
    height:30px;
    border-color:var(--color1);
    border-radius:5px;
    border-style: solid;
    text-decoration: none;
    background-color: var(--color1);
    font-size:large ;
    color:var(--color4);
}

#link_gastos:hover{
    background-color: var(--color4);
    color:var(--color1);
}

#link_ingresos:hover{
    background-color: var(--color4);
    color:var(--color1);
}

#titulo_mis_categorias{
    padding-left:100px;
    color:var(--color1);
    font-size: x-large;
}

#subtitulo_mis_categorias{
    padding-left:110px;
    color:var(--color1);
    font-size: large;
    font-weight: 700;
    color:var(--color7);
}

#contenedor_categorias{
    width:500px;
    height:100vh;
    border-color:var(--color1);
    border-style:solid;
    border-radius:50px;
    border-width: 5px;
}

.contenedor_elemento_categoria{
    list-style: circle;
}
.elemento_categoria{
    text-decoration:none;
    color:var(--color1);
    font-size:medium;
    font-weight:700;
    color:var(--color1);
}

.elemento_categoria:hover{
    text-decoration:none;
    color:var(--color3);
    font-size:medium;
    font-weight:700;
}

#titulo_crear_ingreso{
    padding-left: 10px;
}

#subtitulo_crear_ingreso{
    padding-left: 110px;
}

#contenedor_categoria_actual{
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
}

/* Estilos para formularios: */
form{
    padding-left:50px;
    width:600px;
    display:grid;
    grid-template-rows:repeat(5,1fr);
    grid-template-columns: repeat(2,1fr); 
}


.form_input1{
    grid-column:2/3;
    grid-row:1/2;
}


.form_input2{
    grid-column:2/3;
    grid-row:2/3;
}


.form_input3{
    grid-column:2/3;
    grid-row:3/4;
}


.form_input4{
    grid-column:2/3;
    grid-row:4/5;
}

select{
    width:210px;
    height:30px;
    border-radius:100px;
    border-style: solid;
    border-width: 2px;
}

.boton_crear{
    margin-left:200px;
    margin-top:10px;
}

/* Estilos para ahorros: */
#titulo_ahorros{
    color:var(--color1);
    margin-left:160px;
}

#subtitulo_ahorros{
    color:var(--color7);
    margin-left:120px;
}


#titulo_crear_ahorro{
    padding-bottom: 50px;
    margin-left:100px;
}

#titulo_crear_inversion{
    padding-bottom: 50px;
    margin-left:100px;
}

#formulario_crear_ahorro{
    width:50vw;
    height: 60vh;
    border-color:var(--color1);
    border-style:solid;
    border-radius:10px;
    border-width: 2px;
}

#formulario_crear_inversion{
    width:50vw;
    height: 70vh;
    border-color:var(--color1);
    border-style:solid;
    border-radius:10px;
    border-width: 2px;
}

select{
    border-color:var(--colo1);
}

.link_pagina_actual{
    display:flex;
    justify-content: center;
    height:30px;
    width:70px;
    border-style:solid;
    border-color:var(--color4);
    border-width: 2px;
    background-color:var(--color);
}

.link_pagina_actual:hover{
    display:flex;
    justify-content: center;
    height:30px;
    width:70px;
    border-style:solid;
    border-color:var(--color3);
    border-width: 2px;
}

.contenedor_billeteras_asociadas{
    border-style:solid;
    border-width: 3px;
    border-radius:40px;
    border-color:var(--color1);
    width:40vw;
    height:10vh;
}

#subtitulo_billeteras_asociadas{
    margin-left:115px;
    color:var(--color1);
}

#billetera_ahorro_actual{
    margin-left:0px;
    list-style:none;
    display:flex;

}

#link_billetera_ahorro_actual{
    text-decoration:none;
    color:var(--color3);
    font-weight: 1000;
    font-size:large;
}

#link_billetera_ahorro_actual:hover{
    text-decoration:none;
    color:var(--color7);
}

#link_ahorro{
    text-decoration:none;
    color:var(--color1);
    font-weight: 1000;
    font-size:large;
}

#link_ahorro:hover{
    text-decoration:none;
    color:var(--color7);
}


/* Estilos específicos para ahorro_actual.html: */

#titulo_ahorro_actual{
    padding-left:350px;
    font-family:'Courier New', Courier, monospace;
    color:var(--color5);
}

#contenido_ahorro_actual{
    font-family:'Courier New', Courier, monospace;
    display:grid;
    grid-template-columns:1fr 1fr;
}

#contenedor_info_ahorro{
    width: 20vw;
    height: 80vh;
    border-style:solid;
    border-color:var(--color1);
    border-radius:10px;
    display:inline-block;
    justify-self:center;
    

}

#contenedor_tabla_inversiones{
    width: 60vw;
    padding:0px;
    border:0px;
    display: block;
    color:var(--color5);
}

#contenedor_tabla_inversiones:hover{
    width: 60vw;
    padding:0px;
    border:0px;
    display: block;
    color:var(--color5);
}

#monto{
    margin-top: 15px;
    color:var(--color7);
    margin-left:20px;
}

#asociadas_subtitulo{
    margin-left:10px;

}

#contenedor_billetera_asociada{
    margin:0px;
    padding:0px;
    list-style:none;
    font-size:small;
}

#link_billetera_asociada{
    text-decoration:none;
    color:var(--color3);
    font-weight: 1000;
    font-size:large;
    padding:0px;
    margin:0px;
}


#link_billetera_asociada:hover{
    text-decoration:none;
    color:var(--color7);
}

#sin_billeteras_asociadas{
    margin-left:10px;

}

#titulo_inversiones{
    border-color: var(--color3);
    border-radius: 10px;
    grid-column:2/3;
    margin-left:220px;
    color:var(--color7);
}

.filas_tablas{
    color:var(--color5);
}

#sin_billeteras{
    margin:0px;
    font-size:small;
    margin-left:23px;
    color:black;
}

#sin_billeteras2{
    margin:0px;
    font-size:small;
    margin-left:10px;
    color:var(--color5);
    text-decoration:none;
    font-weight: 900;
}

#sin_billeteras2:hover{
    font-size:medium;
    margin-left:10px;
    color:var(--color7);
    text-decoration:none;
}

.modificar{
    border-style:none;
    border-color:none;
    text-decoration:none;
}

.eliminar{
    border-style:none;
    border-color:none;
    text-decoration:none;

}

.contenedor_ahorros{
    display:grid;
    grid-template-columns:60% 5% 5%;
}

.contenedor_elemento_categoria{
    grid-column:1/2;
}

.eliminar_ahorro{
    text-decoration:none;
    grid-column:2/3;
}

.modificar_ahorro{
    text-decoration:none;
    grid-column:3/4;
}

/* Estilos de menú desplegable de user */
.dropdown {
    grid-row:2/3;
    grid-column:8/9;
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 80%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--color4);
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

  .user_image{
    width:30px;
    height:30px;
  }

.username{
    grid-row: 2/3;
    grid-column: 7/8;
    font-family:cursive;
    font-size:x-small;
}

.logo_contabiliapp{
    width:250px;
    height:80px;
    
}

