{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <title>billetera</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav_container">
            <li class="li1"><a href="/ahorros">Ahorros</a></li>
            <li class="li2"><a class="link_pagina_actual"href="/billetera">Billeteras</a></li>
            <li class="crear"><a href={% url 'crear_billetera' %}>Crear billetera</a></li>
        </ul>
    </nav>
    
    <div class="contenido" id="contenedor_billeteras">
        <h1 id="titulo_billeteras">Mis billeteras:</h1>
        <ul>
        {% for billetera in mis_billeteras %}
            <div class="contenedor_billeteras">
                <li class="elemento_lista_container" id="nombre_billetera"><a href="/billetera/{{billetera.id}}">~ {{billetera}}</a></li>
                <a class="eliminar_billetera" href="/billetera/eliminar_billetera/{{billetera.pk}}">❌</a>
                <a class="modificar_billetera" href="">✏️</a>
            </div>
        {% endfor %}
        </ul>
    </div>
</body>
</html>