{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <title>modificar_ingreso_gasto</title>
</head>
<body>
    
    <div class="contenido">
        <h1 id="titulo_crear_ingreso">Estás en la página para crear {{categoria.tipo_categoria}}</h1>
        <h2 id="subtitulo_crear_ingreso">Categoría: {{categoria.nombre_categoria}}</h2>
    
        <form method = 'post' action="/billetera/{{billetera.pk}}/{{categoria.tipo_categoria}}/{{categoria.pk}}/{{ingreso_gasto.pk}}/modificar_ingreso_gasto">
            {% csrf_token %}
            
            <label for="descripcion">Descripción</label>
            <input type="text" id="descripcion" name="descripcion" value="{{ingreso_gasto.descripcion}}">

            <label for="valor">Valor</label>
            <input type="number" id="valor" name="valor" value="{{ingreso_gasto.valor}}">

            <button>submit</button>
        </form>
    </div>
</body>
</html>
