{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/billetera_navbar_styles.css' %}">
    {% block link %} {% endblock %}
    {% block title %} {% endblock %}
</head>
<body>
    <nav class="navbar">
        <ul class="nav_container">
            <li class="li1"><a href="/home">Home</a></li>
            <li class="li2"><a href="/ahorros">Ahorros</a></li>
            <li class="li3"><a class="link_pagina_actual"href="/billetera">Billeteras</a></li>
            {% block nav_items %}
            
            {% endblock %}
            <div class="dropdown">
                <button class="contenedor_user_image"><img class="user_image" src="{% static 'user_image.png' %}" alt="user_image"></button>
                <div class="dropdown-content">
                <a href="/home/logout">Logout</a>
                </div>
            </div>
        </ul>
    </nav>
    
    {% block content %}
    
    {% endblock %}
    
</body>
</html>