{% extends 'main/home_main.html' %}
{% load static %}

{% block link %}<link rel="stylesheet" href="{% static '/styles/home_styles.css' %}">{% endblock %}
{% block title %}<title>home</title>{% endblock %}


{% block content %}
    <div id="contenido_home">
        <h3 class="titulo_pregunta_home">¿Qué es ContabiliApp?</h3>
        <p class="parrafo_home">Se trata de una herramienta informática diseñada para ayudar a las personas y empresas a llevar un registro de sus finanzas y realizar operaciones contables de manera eficiente y precisa.es una herramienta informática diseñada para ayudar a las personas y empresas a llevar un registro de sus finanzas y realizar operaciones contables de manera eficiente y precisa.</p>
        <img src="{% static 'imagen_contabilidad.png' %}" alt="imagen_contabilidad.png">

        <h3 class="titulo_pregunta_home">Algunas de las funcionalidades que puede ofrecer una aplicación de contabilidad incluyen:</h3>
        <ul>
            <li class="elemento_lista_home">Ingresos: permite registrar y clasificar los ingresos, como salarios, intereses, alquileres, entre otros.</li>
            <li class="elemento_lista_home">Gastos: permite registrar y clasificar los gastos, como facturas, compras, impuestos, entre otros.</li>
            <li class="elemento_lista_home">Categorización: permite clasificar los ingresos y gastos en diferentes categorías, como alimentos, vivienda, transporte, entre otros.</li>
            <li class="elemento_lista_home">Ahorros: permite la creación de ahorros los cuales pueden contener activos ó pasivos.</li>
        </ul>
        <img src="{% static 'imagen_ahorros.png' %}" alt="imagen_ahorros">

    </div>  
{% endblock %}   
    
    

