{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/estilos_login.css' %}">
    <title>login</title>
</head>
<body>
    {% if request.user.is_authenticated == False %}
        {% if messages %}
            {% for message in messages %}
            <ul class="messages">
                <p>{{ message }}</p>
            </ul>
            {% endfor %}
        {% endif %}
        <form method="POST" id="formulario_login">
            {% csrf_token %}
            <div class="contenedor_titulo_app">
                <h1 id="titulo_app">ContabiliApp</h1>
            </div>
            
            <div class="username_container">
                <label id="username_label" for="username">Username</label>
                <input id="username_input" type="text" name="username" placeholder="Enter username" required>
            </div>

            <div class="password_container">
                <label id="password_label" for="password">Password</label>
                <input id="password_input" type="password" name="password" placeholder="Enter password" required>
            </div>

            <div class="contenedor_submit_link_registro">
                <input id="login_input_submit" type="submit" value="Login">
                <a id="link_registro" href="{% url 'register' %}">¿Aún no tienes una cuenta?</a>
            </div>
        </form>
        
    
    
    {% else %}
    <p>Ya tienes un inicio de sesión</p>
    {% endif %}
</body>
</html>